@page
@model PrivacyModel
@{
    ViewData["Title"] = "WesDog loves blockchain and SQL even more so SQL Ledger is his fave thing in the world!!!";
}
<h1>@ViewData["Title"]</h1>

<p>WesDog is a very cool puppy and he wants to protect your subscription data on a blockchain so baddies can't delete it! Awesome!!!'.</p>
