@page
@model PrivacyModel
@{
    ViewData["Title"] = "WesDog loves SQL Ledger Tables, they are his fave thing in the world!!!";
}
<h1>@ViewData["Title"]</h1>

<p>WesDog wants to protect your subscription data on a SQL Ledger (Blockchain) so bad Doggies can't delete it! Awesome!!!'.</p>


